<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Simples Layouts</title>
</head>
<body>
  <main>
    <div class="stage example1">
      <p>i'm center, because my parent is display: grid; and place-items: center;</p>
    </div>  
    <div class="stage example2">      
      <div class="box">1</div>
      <div class="box">2</div>
      <div class="box">3</div>
    </div>  
    <div class="stage example3">     
      <aside>min: 150px; max: 25%</aside>
      <section>this element takes 1fr</section>
    </div>
    <div class="stage example4">
      <header>Header</header>
      <section>Section</section>
      <footer>Footer</footer>
    </div>
    <div class=" stage example5"> 
      <header>Header</header>
      <aside class="left">Left Sidebar</aside>
      <section>Section</section>
      <aside class="right">Right Sidebar</aside>
      <footer>Footer</footer>
    </div>
    <div class=" stage example6"> 
      <div class="span-12">Span 12</div> 
      <div class="span-6">Span 6</div> 
      <div class="span-4">Span 4</div> 
      <div class="span-2">Span 2</div>
    </div>
    <div class=" stage example7"> 
      <div class="box">1</div> 
      <div class="box">2</div> 
      <div class="box">3</div> 
      <div class="box">4</div>
    </div>
    <div class=" stage example8"> 
      <div class="card">
        <h4>Title - Card 1</h4>
        <p>Si num tem leite então bota uma pinga aí cumpadi! Admodum accumsan disputationi eu sit.</p>
        <div class="img-space"></div>
      </div> 
      <div class="card">
        <h4>Title - Card 2</h4>
        <p>Aenean aliquam molestie leo, vitae iaculis nisl. Paisis, filhis, espiritis santis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Delegadis gente finis, bibendum egestas augue arcu ut est. </p>
        <div class="img-space"></div>
      </div><div class="card">
        <h4>Title - Card 3</h4>
        <p>Mussum Ipsum, cacilds vidis litro abertis. </p>
        <div class="img-space"></div>
      </div>
    </div>
    <div class=" stage example9"> 
      <div class="card">
        <h4>Title</h4>
        <div class="img-space"></div>
        <p>Si num tem leite então bota uma pinga aí cumpadi! Admodum accumsan disputationi eu sit.</p>        
      </div>
    </div>
  </main> 

  
</body>
</html>